@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}
button {
  border: none;
  box-shadow: 2px 2px 5px 2px gray;
}
button:hover {
  box-shadow: 2px 2px 10px 2px gray;
}

.projectDialog:open {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  color: black;
  padding: 2rem;
  inline-size: min(50ch, 90dvi);
  margin-inline: auto;
  block-size: 25dvb;
  inset-block-start: 20dvb;
  border: 0;
  border-radius: 10px;
}
.taskDialog:open {
  box-sizing: border-box;
  color: black;
  padding: 2rem;
  inline-size: min(70ch, 90dvi);
  margin-inline: auto;
  block-size: 40dvb;
  inset-block-start: 20dvb;
  border: 0;
  border-radius: 10px;
}
.t-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.label {
  padding: 1rem;
}
dialog:open::backdrop {
  backdrop-filter: blur(5px);
}
#p-form {
  display: grid;
  font-size: 1.1rem;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.label {
  grid-column: 1/-1;
}
.btn-form {
  grid-column: 1/-1;
  display: flex;
  gap: 9rem;
  align-items: center;
}
.form-btns {
  height: 3rem;
  width: 10rem;
  border-radius: 1rem;
  border: none;
}
.form-btns:hover {
  border: 1px solid blue;
}
#name {
  height: 1.5rem;
  width: 22rem;
}

.container {
  display: grid;
  color: white;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  background-color: #2d1c42;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main {
  background-color: #3a3e6c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 20px 4px black;
}
.logo {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding-top: 2rem;
  padding-left: 6rem;
  font-size: 2rem;
}

#logo-img {
  height: 4rem;
  width: 4rem;
}
.button {
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 100%;
}
#addProject {
  border: none;
  height: 2rem;
  width: 15rem;
  transition: transform 0.2s ease;
}
#addProject:hover {
  height: 2.1rem;
  width: 15.2rem;
  transform: scale(1.05);
  cursor: pointer;
}

.projects {
  display: grid;
  grid-template-rows: 1fr 6fr;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content > div > button {
  height: 1.8rem;
  width: 20rem;
  border: none;
  transition: transform 0.2s ease;
}
.content > div > button:hover {
  transform: scale(1.02);
}
.projects,
.footer {
  margin: 2rem;
}
#phead {
  font-size: 1.7rem;
}

.projects {
  height: 55vh;
}
a {
  color: white;
}
a:hover {
  color: red;
}
.main {
  display: flex;
  align-items: center;
}
.heading {
  display: flex;
  height: 5vh;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  margin: 2rem;
  height: 40vw;
  width: 90vh;
  background-color: #2d1c42;
  border-radius: 1rem;
  box-shadow: 2px 0px 20px 8px black;
}
.add {
  padding: 1rem;
}
#addTask {
  height: 1.5rem;
  width: 10rem;
  transition: transform 0.2s ease;
}
#addTask:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.tasks > div {
  background-color: rgb(239, 237, 248);
  color: black;
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-sizing: border-box;
  padding: 1rem 0 0 1rem;
  margin-bottom: 0.5rem;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 3px rgb(142, 134, 134);
  height: 4rem;
  width: 70%;
  transition: transform 0.2s ease;
}
.tasks > div:hover {
  transform: scale(1.01);
}
.btns > button {
  background-color: #3a3e6c;
  height: 2rem;
  width: 3rem;
  border-radius: 20rem;
}
.btns > button:hover {
  height: 2.2rem;
  width: 3rem;
  box-shadow: 4px 4px 40px 4px #2d1c42;
}

.viewDialog:open{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  color: black;
  padding: 2rem;
  inline-size: min(40ch, 90dvi);
  margin-inline: auto;
  block-size: 25dvb;
  inset-block-start: 25dvb;
  border: none;
  border-radius: 10px;
}