@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
      font-family: "DM Sans", sans-serif;
}

dialog:open{
  display: flex;
  box-sizing: border-box;
  padding: 2rem;
  inline-size: min(50ch, 90dvi);
  margin-inline: auto;
  block-size: 20dvb;
  inset-block-start: 20dvb;
  border: 0;
  border-radius: 10px;
}
dialog:open::backdrop{
    backdrop-filter: blur(5px);
}
#p-form{
    display: grid;
    font-size: 1.1rem;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}
.label{
    grid-column: 1/-1;
}
.btn-form{
    grid-column: 1/-1;
    display: flex;
    gap: 9rem;
    align-items: center;
}
.form-btns{
    height: 3rem;
    width: 10rem;
    border-radius: 1rem;
    border: none;
}
.form-btns:hover{
    border: 1px solid blue;
}
#name{
    height: 1.5rem;
    width: 22rem;
}

.container{
    display: grid;
    grid-template-columns:  1fr 3fr;
}

.sidebar{
    height: 100vh;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.main{
    border: 2px solid black;
}
.logo{
    height: 5rem;
    width: 100%;
    padding-top: 2rem;
    font-size: 2rem;
    border: 2px solid green;
}
.button{
    height: 4rem;

    border: 2px solid black;
}
.projects{
    margin: 2rem;
}